<p>Welcome, <%= @user %></p>
<ul>
  <% @listing.each do |listing| %>
   <li>
<<<<<<< HEAD
   title: <%= listing[:title] %>, city: <%= listing[:city] %>
=======
   title: <%= listing['title'] %>, city: <%= listing['city'] %>
>>>>>>> 03f7011f2b2a559e038c9ef178b538d4caf25b7a
  </li>
  <% end %>
</ul>

<form action="/properties/list" method="get">
  <button type="submit">Add Property</button>
</form>
